<p style="color: green"><%= notice %></p>

<div style="margin-left: 10px">
  <h1 style="margin-left: 10px;">Comments <%= link_to "New comment", new_comment_path, class: "btn btn-outline-success" %></h1>
</div>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>

