<p style="color: green"><%= notice %></p>

<div style="margin-left: 10px">
  <h1 style="margin-left: 10px;">Comments</h1>
</div>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>

