<h1 style="text-align: center; margin-top: 20px;">New comment</h1>
<%= render "form", comment: @comment %>
<br>
<div style="margin-left: 20px; text-align: center;">
  <%= link_to "Show this comment", @comment, class: "btn btn-success col-8" %>

  <%= link_to "Back to comments", comments_path, class: "btn btn-secondary col-8" , style: "margin-top: 10px;"%>
</div>
