<div id="<%= dom_id @post %>" class="post-container">
  <% like.user.avatars.each do |av| %>
    <img src="<%= av.avatar_url %>" class="rounded-circle" style="width: 110px; height: 110px" />
  <% end %>

  <%= link_to(like.user, class: "post-link") do %>
    <h5 class= "text-dark", style="margin-top: 20px;"> <%= like.user.username %> </h5>
  <% end %>
</div>

