<div id="<%= dom_id post %>" class="post-container">
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover;", size: "100x100") %>
  <% end %>
  <div class="post-title">
    <%= post.title %>
  </div>
  <%= link_to post.user.username, post.user, style: "z-index" %>
</div>
