<div style="margin-top: 10px;">
  <h1 style="text-align: center;">Create post</h1>
  <%= render "form", post: @post %>
</div>

<br>

<div style="text-align: center;">
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary col-5" %>
</div>
