.post-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 60%; /* Adjust the width as per your requirements */
  }
  

.show-post {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.post-link {
    text-decoration: none;
}

.post-link:hover {
    opacity: 0.9;
}

.unlike {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    background-image: url("https://i.imgur.com/7d8cexe.png");
    background-size: cover;
}

.like:hover {
    opacity: 0.7;
}

.unlike:hover {
    opacity: 0.7;
}

.like {
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    background-image: url("https://i.imgur.com/xzFwbk7.png");
    background-size: cover;
}

.post-title {
    font-size: 16px;
    padding-left: 20px;
    text-align: start;
}