/* Style the sidebar */
.sidebar {
    color: #ffffff;
    padding: 6px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;

    background-color: #212a34;
}

.container {
    position: relative;
    width: 100%;
}  

.main-content {
    margin-left: 15%;
    width: 100%;
}

/* Style the sidebar links */
.sidebar ul {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.sidebar ul li {
    margin-bottom: 10px;
    width: 100%; /* Make the li match the parent width */
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgb(192, 200, 224);
}

/* Style the sidebar icons */
.sidebar ul li a i {
    margin-right: 10px;
    align-items: center;
    padding: 8px;
    color: #ffffff;
}
